In [1]:
import pandas as pd

data = {
    'Column1': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Column2': ['K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T'],
    'Column3': ['U', 'V', 'W', 'X', 'Y', 'Z', 'A', 'B', 'C', 'D'],
    'Column4': ['E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N'],
    'Column5': ['O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X']
}

df = pd.DataFrame(data)
df

  Column1 Column2 Column3 Column4 Column5
0       A       K       U       E       O
1       B       L       V       F       P
2       C       M       W       G       Q
3       D       N       X       H       R
4       E       O       Y       I       S
5       F       P       Z       J       T
6       G       Q       A       K       U
7       H       R       B       L       V
8       I       S       C       M       W
9       J       T       D       N       X

In [9]:
df.columns = ['first', 'second', 'third', 'fourth', 'fifth']
df2 = df[['first', 'fourth', 'third', 'fifth']]
df2

  first fourth third fifth
0     A      E     U     O
1     B      F     V     P
2     C      G     W     Q
3     D      H     X     R
4     E      I     Y     S
5     F      J     Z     T
6     G      K     A     U
7     H      L     B     V
8     I      M     C     W
9     J      N     D     X